[Unit]
Description=Daily Brokeweb backup

[Timer]
OnCalendar=*-*-* 02:30:00 UTC
RandomizedDelaySec=1800
Persistent=true

[Install]
WantedBy=timers.target
